body{
  margin: 0;
  padding: 0;
  background: white;
}
header{
  background-color: white;
  display: flex;
  align-items: center;
  height: 205px;
}
div.slide{
  position: absolute;
  top: 200px;
  width: 980px;
  height: 900px;
  background: url(images17.jpeg);
  background-size: cover;
  animation: animate 50s infinite;
}
header h1{
  position: relative;
  left: 15px;
  color: red;
  text-transform: uppercase;
  border-radius: 5px;
}
li{
  display: inline;
}
li a{
  text-decoration: none;
  position: relative;
  left: 40%;
  padding: 10px;
  color: red;
  text-transform: uppercase;
  border-radius: 20px;
  font-weight: bold;
}
a:hover{
  color: white;
  background: red;
}
@keyframes animate {
  25%{
    background: url(images3.jpeg);
    background-size: cover;
  }
  50%{
    background: url(images1.jpeg);
    background-size: cover;
  }
  75%{
    background: url(images4.jpeg);
    background-size: cover;
  }
  100%{
    background: url(téléchargement5.jpeg);
    background-size: cover;
  }
}
main video{
  position: absolute;
  top: 60%;
}
main video{
  width: 90%;
  position: absolute;
  left: 50px;
}
