body {
    font-size: 15pt;
}
nav.nav div{
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 3px solid darkgray;
}
h1{
  margin-left: 30px;
}
a{
  position: relative;
  left: 100px;
  margin: 20px;
  text-decoration: none;
  color: slategray;
}
a button{
  background-color: orangered;
  height: 50px;
  width: 170px;
  border-radius: 10px;
  color: white;
  text-align: center;
}
main.main{
  background: powderblue;
  height: 700px;
}
.main div{
  position: absolute;
  top: 15%;
  left: 15%;
}
img{
  height: 350px;
  width: 350px;
  position: absolute;
  left: 450px;
  top: 10%;
  border-radius: 350px;
}
h4{
  color: orangered;
}
.main div a{
  text-decoration: none;
  color: white;
  position: absolute;
  top: 130%;
  background-color: orangered;
  height: 39px;
  width: 150px;
  left: 1%;
  text-align: center;
  border-radius: 150px;
}
footer{
  background-color: white;
  position: absolute;
  left: 32%;
}
h6{
  margin-left: 80px;
  color: orangered;
  font-size: 20px;
}
footer p{
  font-weight: bold;
  font-size: 30px;
